[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pillow = "*"
matplotlib = "*"
captcha = "*"
pytest = "*"
requests = "*"
user-agent = "*"

[dev-packages]

[requires]
python_version = "3.6"
